body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:565px;
  height:500px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:315px;
  top:60px;
  width:80px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:85px;
  top:106px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:100px;
  width:465px;
  height:25px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:133px;
  top:103px;
  width:451px;
  height:20px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:125px;
  top:156px;
  width:465px;
  height:154px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:154px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:85px;
  top:155px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:230px;
  top:500px;
  width:100px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:360px;
  top:501px;
  width:100px;
  height:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:95px;
  top:450px;
  width:150px;
  height:14px;
  font-size:14px;
  color:#333333;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:175px;
  top:443px;
  width:80px;
  height:32px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:176px;
  top:446px;
  width:77px;
  height:26px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:270px;
  top:443px;
  width:40px;
  height:32px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:270px;
  top:446px;
  width:38px;
  height:26px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:320px;
  top:443px;
  width:40px;
  height:32px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:320px;
  top:446px;
  width:38px;
  height:26px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:390px;
  top:443px;
  width:40px;
  height:32px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:390px;
  top:446px;
  width:38px;
  height:26px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:455px;
  top:443px;
  width:40px;
  height:32px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:455px;
  top:446px;
  width:38px;
  height:26px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:130px;
  top:611px;
  width:430px;
  height:14px;
  font-size:12px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:14px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:95px;
  top:409px;
  width:150px;
  height:14px;
  font-size:14px;
  color:#333333;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:535px;
  top:514px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:520px;
  top:604px;
  width:110px;
  height:14px;
  font-size:12px;
  color:#333333;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:85px;
  top:359px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:115px;
  top:352px;
  width:60px;
  height:28px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:116px;
  top:355px;
  width:58px;
  height:22px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u46 {
  position:absolute;
  left:200px;
  top:358px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:230px;
  top:351px;
  width:60px;
  height:28px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:231px;
  top:354px;
  width:58px;
  height:22px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
