body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:515px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:515px;
}
#u2 {
  position:absolute;
  left:2px;
  top:250px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:5px;
  top:3px;
  width:308px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:15px;
  top:29px;
  width:16px;
  height:18px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#E4E4E4;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:128px;
  top:27px;
  width:92px;
  height:21px;
  font-size:20px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:145px;
  width:320px;
  height:110px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:110px;
}
#u13 {
  position:absolute;
  left:2px;
  top:47px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:161px;
  width:131px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:103px;
  width:115px;
  height:11px;
  font-size:14px;
  color:#333333;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:11px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:99px;
  width:45px;
  height:18px;
  font-size:20px;
  color:#FF6666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:145px;
  top:161px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:69px;
  top:210px;
  width:51px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:145px;
  top:210px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:69px;
  top:234px;
  width:76px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:145px;
  top:234px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:310px;
  width:320px;
  height:340px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:340px;
}
#u31 {
  position:absolute;
  left:2px;
  top:162px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:75px;
  top:276px;
  width:200px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:10px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:310px;
  width:320px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:115px;
  top:321px;
  width:200px;
  height:14px;
  font-size:14px;
  color:#333333;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:410px;
  width:300px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u39 {
  position:absolute;
  left:10px;
  top:485px;
  width:300px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u40 {
  position:absolute;
  left:10px;
  top:560px;
  width:300px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u41 {
  position:absolute;
  left:69px;
  top:186px;
  width:76px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:145px;
  top:185px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
