body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:53px;
  width:320px;
  height:457px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:457px;
}
#u1 {
  position:absolute;
  left:2px;
  top:220px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:194px;
  width:320px;
  height:106px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
}
#u3 {
  position:absolute;
  left:2px;
  top:45px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:5px;
  top:3px;
  width:308px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:132px;
  top:27px;
  width:200px;
  height:21px;
  font-size:20px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:13px;
  top:19px;
  width:14px;
  height:36px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:18px;
  top:258px;
  width:200px;
  height:15px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:223px;
  width:112px;
  height:21px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:324px;
  width:320px;
  height:106px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
}
#u17 {
  position:absolute;
  left:2px;
  top:45px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:59px;
  width:320px;
  height:101px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:101px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:247px;
  top:31px;
  width:72px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:190px;
  top:260px;
  width:200px;
  height:13px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:19px;
  top:390px;
  width:200px;
  height:13px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:188px;
  top:391px;
  width:200px;
  height:15px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:461px;
  width:320px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:275px;
  top:466px;
  width:23px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:4px;
  top:496px;
  width:51px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#555459;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:108px;
  top:496px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#555459;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:194px;
  top:494px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#555459;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:274px;
  top:495px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#555459;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:109px;
  top:466px;
  width:25px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:192px;
  top:466px;
  width:29px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:17px;
  top:466px;
  width:27px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:196px;
  top:223px;
  width:112px;
  height:21px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:28px;
  top:353px;
  width:112px;
  height:21px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:198px;
  top:353px;
  width:112px;
  height:21px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
