body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:35px;
  width:525px;
  height:535px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:535px;
}
#u1 {
  position:absolute;
  left:2px;
  top:260px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:86px;
  width:100px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:61px;
  top:177px;
  width:444px;
  height:116px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:116px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:60px;
  top:120px;
  width:80px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:141px;
  top:115px;
  width:68px;
  height:28px;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:143px;
  top:118px;
  width:66px;
  height:23px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:225px;
  top:120px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:150px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:330px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:115px;
  top:326px;
  width:120px;
  height:22px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:117px;
  top:328px;
  width:116px;
  height:18px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:243px;
  top:330px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:266px;
  top:325px;
  width:120px;
  height:22px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:268px;
  top:327px;
  width:116px;
  height:18px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:148px;
  top:495px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:275px;
  top:495px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:386px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:115px;
  top:378px;
  width:143px;
  height:26px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:118px;
  top:381px;
  width:138px;
  height:21px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:60px;
  top:438px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:115px;
  top:428px;
  width:141px;
  height:26px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:215px;
  top:46px;
  width:80px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:140px;
  top:75px;
  width:220px;
  height:32px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:144px;
  top:78px;
  width:213px;
  height:26px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
