body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:556px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:630px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:630px;
}
#u1 {
  position:absolute;
  left:2px;
  top:307px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:123px;
  width:320px;
  height:437px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:437px;
}
#u3 {
  position:absolute;
  left:2px;
  top:210px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:162px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:34px;
  top:143px;
  width:67px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF6633;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:123px;
  width:320px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:5px;
  top:3px;
  width:308px;
  height:13px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:283px;
  top:24px;
  width:23px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#E4E4E4;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:15px;
  top:29px;
  width:16px;
  height:18px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#E4E4E4;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:128px;
  top:27px;
  width:200px;
  height:21px;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:138px;
  top:535px;
  width:200px;
  height:14px;
  font-size:14px;
  color:#333333;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:33px;
  top:265px;
  width:172px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:35px;
  top:288px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:314px;
  width:320px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u25 {
  position:absolute;
  left:33px;
  top:332px;
  width:172px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:35px;
  top:355px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:381px;
  width:320px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u30 {
  position:absolute;
  left:33px;
  top:402px;
  width:172px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:35px;
  top:425px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:451px;
  width:320px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u35 {
  position:absolute;
  left:33px;
  top:471px;
  width:172px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:35px;
  top:494px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:520px;
  width:320px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u40 {
  position:absolute;
  left:33px;
  top:190px;
  width:172px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:35px;
  top:213px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:239px;
  width:320px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u45 {
  position:absolute;
  left:265px;
  top:190px;
  width:48px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:276px;
  top:201px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:80px;
  top:214px;
  width:191px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:80px;
  top:291px;
  width:197px;
  height:13px;
  font-size:12px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:13px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:82px;
  top:357px;
  width:165px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:82px;
  top:427px;
  width:147px;
  height:13px;
  font-size:12px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:86px;
  top:495px;
  width:127px;
  height:18px;
  font-size:12px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:139px;
  top:143px;
  width:67px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:229px;
  top:143px;
  width:67px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:580px;
  width:320px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:275px;
  top:585px;
  width:23px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:4px;
  top:615px;
  width:51px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#555459;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:108px;
  top:615px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#555459;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:194px;
  top:613px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#555459;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:274px;
  top:614px;
  width:29px;
  height:15px;
  font-size:12px;
  color:#555459;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:109px;
  top:585px;
  width:25px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:192px;
  top:585px;
  width:29px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:17px;
  top:585px;
  width:27px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555459;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:356px;
  top:138px;
  width:200px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:10px;
  top:190px;
  width:20px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:11px;
  top:265px;
  width:20px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:11px;
  top:333px;
  width:20px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:10px;
  top:470px;
  width:20px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:12px;
  top:403px;
  width:20px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:264px;
  top:261px;
  width:48px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:274px;
  top:273px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:263px;
  top:334px;
  width:48px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:274px;
  top:345px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:262px;
  top:401px;
  width:48px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u103 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:273px;
  top:412px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:260px;
  top:470px;
  width:48px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
}
#u107 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:271px;
  top:481px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
