body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:380px;
  top:102px;
  width:320px;
  height:595px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
}
#u1 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:416px;
  top:177px;
  width:129px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:499px;
  top:229px;
  width:145px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:422px;
  top:407px;
  width:235px;
  height:220px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:220px;
}
#u7 {
  position:absolute;
  left:2px;
  top:102px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:520px;
  top:661px;
  width:120px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:467px;
  top:421px;
  width:200px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:465px;
  top:467px;
  width:155px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:151px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:465px;
  top:537px;
  width:155px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:151px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:450px;
  top:716px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
