body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-1px;
  top:0px;
  width:321px;
  height:85px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:85px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:74px;
  top:31px;
  width:140px;
  height:14px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:505px;
  width:320px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:21px;
  top:510px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:147px;
  top:510px;
  width:25px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:268px;
  top:511px;
  width:25px;
  height:25px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:23px;
  top:538px;
  width:80px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:147px;
  top:539px;
  width:80px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:270px;
  top:539px;
  width:80px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:26px;
  width:51px;
  height:45px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:5px;
  top:0px;
  width:308px;
  height:13px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:95px;
  width:320px;
  height:225px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:225px;
}
#u26 {
  position:absolute;
  left:2px;
  top:104px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:33px;
  top:118px;
  width:48px;
  height:48px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:34px;
  top:175px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:139px;
  top:118px;
  width:48px;
  height:48px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:144px;
  top:174px;
  width:41px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:12px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:269px;
  top:36px;
  width:26px;
  height:25px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:286px;
  top:33px;
  width:16px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:243px;
  top:118px;
  width:48px;
  height:48px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:254px;
  top:174px;
  width:41px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:12px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:36px;
  top:232px;
  width:48px;
  height:48px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:35px;
  top:288px;
  width:80px;
  height:12px;
  font-size:12px;
  color:#333333;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
