body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:515px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:515px;
}
#u1 {
  position:absolute;
  left:2px;
  top:250px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:1px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:24px;
  top:80px;
  width:265px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:165px;
  width:265px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:96px;
  width:140px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:12px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:182px;
  width:80px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:235px;
  width:259px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:255px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:275px;
  top:31px;
  width:80px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:225px;
  top:97px;
  width:80px;
  height:11px;
  font-size:11px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:141px;
  top:29px;
  width:140px;
  height:14px;
  font-size:14px;
  color:#333333;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:212px;
  top:80px;
  width:10px;
  height:45px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u23 {
  position:absolute;
  left:24px;
  top:125px;
  width:265px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:139px;
  width:140px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:12px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:124px;
  top:183px;
  width:80px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
